
<div class="dashboard">
    <% if (employee.role == "admin") { %>
        <div>
            <p>This is Admin Views</p>
        </div>
    <%} else { %>
        <p> This is Employee Views</p>
    <% } %>
</div>