<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <title>Home</title>
  </head>
  <body>
    <div class="container">
        <h1 class="heading">Employee Review System</h1>
        <a class="login-btn" href="/api/employee/login"><button>Login</button></a>
        <a class="signup-btn" href="/api/employee/signup"><button>Signup</button></a>
    </div>
  </body>
</html>
