<link rel="stylesheet" href="/css/sign.css">
<div class="mainContainer ">
    <div class="formInput">
        <h1> Welcome </h1>
        <form method="POST" action="/users/create" >
            <input type="Name" name="name" placeholder="Enter name" required><br>
                <input type="email" name="email" placeholder="Enter email" required><br>
                <input type="password" name="password" placeholder="Enter password" required><br>
            
            <div class= 'buttons'>
                <div class = 'submitButtons'>
                    <button type="submit">Sign Up</button>
                </div>
            </div>
    </div>
</div>