
.navBar{
    background-color:#d2e7e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* These styling are for anchor tag in navBar */
.nameOfApp a{
    font-size: 45px;
    text-decoration: none;
    margin-left:15px;
    color:rgb(24, 24, 22);
    letter-spacing:4px;
    font-weight: 600;
}

.nameOfApp img{
    height:60px;
    width:60px;
    margin-left:30px;
    margin-top:-30px;
}

/* for the name of users */
.nameOfUser{
    font-size: 20px;
    margin-left:2px;
    margin-right:8px;
    margin-top:8px;
    color:rgb(31, 29, 29);
    font-weight:bold;

}
.nameOfUser img{
    height:30px;
    width:30px;
    padding:5px;
    margin-right:8px;
   
}

.logOut a{
    font-size: 30px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.noUser ul{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.noUser li{
    list-style: none;
    font-size: 19px;
    padding-left: 20px;
    margin-top:10px;
    margin-right:20px;
}

.noUser li a{
    text-decoration: none;
    color: white;
}
.logOut small{
    font-size: 15px;
    color:rgb(20, 19, 19);
    padding:5px;
}

.logOut small:hover{
    color:rgb(238, 17, 17);
}
